<?xml version="1.0"?>

<launch>
 
  <!-- launch emergency brake -->
  <node name="navEmergencyBrake" type="navEmergencyBrake.py" pkg="purepursuit" output="screen" launch-prefix="xterm -e"/>

  <!-- launch emergency brake controller -->
  <node name="navBrakeControl" type="navBrakeControl.py" pkg="purepursuit" output="screen"/>

  <!-- launch talker.py -->
  <node name="talker" type="talker.py" pkg="purepursuit" output="screen"/>
  
</launch>
